*_tmp
tmp_*
/Manifest.toml
.vscode
Manifest.toml
.DS_Store
*.csv
*.nc

build/
node_modules/
package-lock.json
Manifest.toml
*_tmp
*.pdf
*.pptx
*.nc
*.png
*.xlsx
*.mp4
*.jld2
/projects/SOC_PBM/data/
!markus_reichstein.png
!Bernhard_Ahrens.png
*.err
*.out
/docs/src/tutorials/folds.md
*.jl.cov
*.jl.*.cov
coverage/lcov.info